body 
{
    background-image:url(kot.png);
    color:white;
    font-family: fantasy;
}

.h
{
    text-align: center;
}
h1,.k,.text
{
    text-align: center;
}
img
{
    border-radius: 5%;
    margin:7px;
}
h2
{
    text-align: center;
    color: rgb(193, 144, 240);
}
h1
{
color:rgb(11, 92, 95);
}
.box 
{
    background-color: rgba(0, 0, 0, 0.671);
    border-radius: 5%;
    border:dashed;
}
